# Question 1

Use linear regression y = a*x +b in Python and calculate what is the expected expense at age 53

What are the values of a and b?

Please submit your pdf of Jupyter notebook.

In [45]:
import pandas as pd

SyntaxError: invalid syntax (4141542728.py, line 2)

In [20]:
data = [[15, 100],[20,135],[25,135],[37,150],[40,250],[45, 270],[48, 290],[50,360],
       [55,375], [61,400],[64,500],[67,1000],[70,1500]]

In [24]:
import numpy as np
>>> from sklearn.linear_model import LinearRegression

In [22]:
# df=pd.DataFrame(data,columns=['Age', 'Expense'])
# df

    Age  Expense
0    15      100
1    20      135
2    25      135
3    37      150
4    40      250
5    45      270
6    48      290
7    50      360
8    55      375
9    61      400
10   64      500
11   67     1000
12   70     1500

In [25]:
# pd.DataFrame.mean(df)
# # x = df['Age']
# y = df['Expense']

In [26]:
x = np.array([15,20,25,37,40,45,48,50,55,61,64,67,70]).reshape((-1,1))
y = np.array([100,135,135,150,250,270,290,360,375,400,500,1000,1500])

In [29]:
model = LinearRegression()

In [30]:
model.fit(x,y)

LinearRegression()

In [31]:
model = LinearRegression().fit(x,y)

In [37]:
b=model.intercept_

In [38]:
m=model.coef_

In [40]:
inp = 53

In [41]:
yhat = m*inp+b

In [42]:
print(yhat)

[539.92413079]